{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "120",
          "firefox": "140"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}
